<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <section class="auth-section">

        <div class="auth-card">

            <h2>Quên mật khẩu</h2>

            <p class="auth-subtitle">
            Nhập email của bạn để đặt lại mật khẩu.
            </p>

            <form th:action="@{/forgot-password}" method="post">

                <div class="form-group">

                    <label>Email</label>

                    <input type="email"
                    name="email"
                    placeholder="Nhập email của bạn"
                    required>

                </div>

                <button type="submit" class="btn-login">
                Gửi yêu cầu
                </button>

            </form>

            <p class="register-link">
                Đã nhớ mật khẩu?
                <a th:href="@{/login}">Đăng nhập ngay</a>
            </p>

        </div>

    </section>

</body>
</html>