<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="footer">

    <div class="footer-container">

        <!-- GIỚI THIỆU -->
        <div class="footer-col">

            <h3>GIỚI THIỆU</h3>

            <p>Về Chúng Tôi</p>
            <p>Điều khoản sử dụng</p>
            <p>Chính sách bảo mật</p>

        </div>


        <!-- HỖ TRỢ -->
        <div class="footer-col">

            <h3>HỖ TRỢ</h3>

            <p>Trung tâm trợ giúp</p>
            <p>Liên hệ</p>
            <p>Câu hỏi thường gặp</p>

        </div>


        <!-- SOCIAL -->
        <div class="footer-col footer-right">

            <img th:src="@{/images/logo.png}" class="footer-logo">

            <div class="social-icons">

                <a href="https://facebook.com" target="_blank">
                    <img th:src="@{/images/facebook.png}" class="social-icon">
                </a>

                <a href="https://tiktok.com" target="_blank">
                    <img th:src="@{/images/tiktok.png}" class="social-icon">
                </a>

            </div>

        </div>

    </div>


    <!-- COPYRIGHT -->
    <div class="footer-bottom">

        © 2026 Popcorn Cinema. All Rights Reserved.

    </div>

</footer>

</body>
</html>